body {
  background-color: #DEB887; }
  body h1, body h2 {
    font-family: "Lora";
    color: #542a11; }
  body h1 {
    font-weight: 600; }
  body h2 {
    font-weight: 400; }
  body p, body li, body label, body input {
    font-family: "Roboto"; }

.title {
  text-align: center; }

html {
  height: 100%; }
.description-content {
  font-weight: 400;
  font-size: 12pt;
  text-align: justify;
  padding: 0 7px 0 5px; }

.description-header {
  text-align: center; }
#data-form {
  margin: 50px auto;
  width: 700px; }
  #data-form input {
    font-family: Roboto;
    font-size: 12pt; }
.sorting-array {
  display: block;
  width: 400px;
  min-height: 100px;
  margin: 0 auto;
  list-style: none;
  position: relative; }
  .sorting-array .sorting-array-item {
    display: block;
    position: absolute;
    margin: 0 150px;
    width: 100px;
    text-align: center;
    transition: color 1s ease; }
  .sorting-array .sorting-array-item_correct {
    color: #7fff00;
    top: 0; }
  .sorting-array .sorting-array-item_incorrect {
    color: #dc143c;
    top: 50px; }

.sorting-array-title {
  text-align: center; }
.result-stages-title {
  text-align: center; }

.result-stages {
  list-style: none;
  margin: 25px auto 150px;
  padding: 0;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .result-stages .result-stages-item {
    display: none;
    height: 50px;
    width: 350px;
    text-align: center;
    line-height: 50px;
    margin: 5px 0;
    font-family: Roboto;
    font-size: 16pt;
    letter-spacing: 3px;
    font-weight: 300; }
